<div class="card border-primary mb-3 py-2">
  <div class="card-header">To-Do Task</div>
  <div class="card-body text-primary">
    <div *ngIf="listTasks.length == 0" class="alert alert-info" >
      No hay registros en la base de datos.
    </div>
    <table class="table table-striped" *ngIf="listTasks?.length>0">
      <thead>
        <tr>
          <th>state</th>
          <th>id</th>
          <th>name task</th>
          <th>edit</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of listTasks">
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="task.state" checked (change)="metod(task)" value="" id="flexCheckDefault">
            </div>
          </td>
          <td>{{task.id}}</td>
          <td>{{task.name}}</td>
          <td>
            <button type="button" name="button" class="btn btn-primary" [routerLink]="['/edittask', task.id]">edit</button>
          </td>
          <td>
            <button type="button" name="button" class="btn btn-danger" (click) = 'delete(task)'>delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-form></app-form>
